<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<%= stylesheet_link_tag 'groups' %>
<%= stylesheet_link_tag 'common' %>


<div id="members_links">
	<% if logged_in? %>
		<div id="members_all"><%= link_to 'All Members', users_path %></div>
		<div id="members_my"><%= link_to 'My Friends', user_friends_path(current_user) %></div>
	<% end %>
</div>
<h1><%= @group.name %> Members (<%= @users.size %>)</h1>
<div id="return_link"><%= link_to "Back to #{@group.name}", group_path(@group) %></div>

<script>
  function do_membership_task(task) {
    function reload() {
      window.location.reload();
    }

    ids = []
    $('#gridNode input[type=checkbox]:checked').each(function() { ids.push(this.name) })
    
    if (task === 'promote' || task === 'demote') {
      $.post('/memberships/update', { user_ids: ids, group_id: <%= @group.id %>, task: task }, function(data) { reload() });
    } else {
      $.post('/memberships/' + task, { user_ids: ids, group_id: <%= @group.id %> }, function(data) { reload() });
    }
  }
 
</script>

<style>
 tr.disabled {
    background-color: #efefef;
    color: #afafaf;
  }
</style>
<% 
  is_private = (@group.private == true)
%>

<div id="users_table">
	<% if logged_in? && current_user.is_group_admin(@group) %>
		<div id="manage_btns">
			<button id="promote_btn" onclick="do_membership_task('promote')">Promote to Administrator</button>
			<button id="demote_btn" onclick="do_membership_task('demote')">Demote from Administrator</button>
			<button id="remove_btn" onclick="do_membership_task('destroy')">Remove from group</button>
    <% if is_private %>
			<button id="remove_btn" onclick="do_membership_task('authorize')">Authorize</button>
		<% end %>
		</div>
	<% end %>
	<div class="gridContainer">
		<table id="gridNode" >
			<thead>
				<tr>
          <th></th>
					<th field="id" width="30px">ID</th>
					<th field="name" width="100px">Name</th>
					<th field="email" width="160px">Email</th>
					<th field="role" width="70px">Role</th>
					<th field="created_at" width="180px">Date Joined</th>
        <% if is_private %>
          <%= "<th field='authorized' width='60px'>Authorized</th>" %>
				<% end %>
				</tr>
			</thead>
      <tbody>

        <% @users.each do |user| %>
          <% 
            roles = []
            user.roles.each { |role| roles.push(role.rolename) }
            roles = roles.join(', ').chomp
          %>

          <% 
            if is_private
              authorized = false
              user.memberships.each { |item| 
                if item.group_id == @group.id
                  authorized = (item.authorized == true)
                end 
              }
              authorized_markup = "<td>#{authorized}</td>"
            end
            
            tr_class = ''
            checkbox_markup = ''
            if user.id == current_user.id
              checkbox_markup = "disabled='true'"
              tr_class = 'class="disabled"'
            end
          %>
          <%= "<tr #{tr_class}><td><input type='checkbox' name='#{user.id}' #{checkbox_markup} /></td><td>#{user.id}</td><td>#{user.name}</td><td>#{user.email}</td><td>#{roles}</td><td>#{user.created_at}</td>#{authorized_markup}</tr>" %>

        <% end %>
      </tbody>
		</table>
	</div>
</div>

